<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Department</title>
<link href="css/main.css" rel="stylesheet" type="text/css"> 
</head>
<body>
<div class="core">
<h1>Deps</h1>
<ul>
{% for dep in deps%}
<li><a href="/details?key={{dep.key}}">{{dep.name}}</a> - {{dep.description}}</li>
{% endfor %}
</ul>
<p>
<form action="" method="post">
<table>
<tr>
    <td>Name: </td><td><input type="text" name="name" id="name" /></td>
</tr>
<tr>
    <td>Description: </td><td><input type="text" name="description" id="description" /></td>
</tr>
<tr>
<td/>
<td><input type="submit" value="Save" /><input type="reset" value="Cancel" /></td>
</tr>
</table>
</form>
</p>
<p><a href="/">Mainpage</a></p>
</div>
</body>
</html>