<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Edit Employee</title>
<link href="css/main.css" rel="stylesheet" type="text/css"> 
</head>
<body>
<div class="core">
<h1>Edit Employee</h1>

{% if message %}
<div class="messagebox">
<p>{{message}}!</p>
</div>
{% endif %}

<form action="" method="post">
<input type="hidden" value="{{emp.key}}" />
<table>
<tr>
    <td>Firstname: </td><td><input type="text" name="firstname" id="firstname" value="{{emp.firstname}}" /></td>
</tr>
<tr>
    <td>Lastname: </td><td><input type="text" name="lastname" id="lastname" value="{{emp.lastname}}"/></td>
</tr>
<tr>
    <td>Department: </td><td><select name="department_key">
    <!-- if emp.department_ref == dep then selected -->
        {% for dep in deps%}
            {% ifequal emp.department_ref.name dep.name %}
                <option value="{{dep.key}}" SELECTED>{{dep.name}}</option>
            {% else %}
                <option value="{{dep.key}}">{{dep.name}}</option>
            {% endifequal %}
        {% endfor %}
    </select>
    </td>
</tr>
<tr>
<td/></td>
<td><input type="submit" value="Save" /><input type="reset" value="Cancel" /></td>
</tr>
</table>
</form>
</p>
<p><a href="/delemployee?key={{emp.key}}">Delete this employee</a></p>
<p><a href="/employee">Employee Page</a></p>
</div>
</body>
</html>